<!DOCTYPE html>
<html>
  <head>
    <title>FreeTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Font Awesome の読み込み %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# レスポンシブ適用 %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <div class= "header-logo">
        <% if @current_user %>
          <%= link_to("FreeTweet","/posts/index") %>
        <% else %>
          <%= link_to("FreeTweet","/") %>
        <% end %>
        
      </div>
        
      <div class = "header-list">
        <% if @current_user %>
          <%= link_to("マイページ","/users/#{@current_user.id}") %>
          <%= link_to("投稿一覧","/posts/index") %>
          <%= link_to("投稿作成","/posts/new") %>
          <%= link_to("ユーザー一覧","/users/index") %>
          <%= link_to("ログアウト", "/logout", {method: :post}) %>
        <% else %>
          <a class="header-new-btn">新規登録</a>
          <a class="header-login-btn">ログイン</a>
        <% end %>
      </div>
      <span class="fa fa-bars fa-3x menu-icon"></span>
    </header>

    <% if flash[:notice] %>
      <div class = "flash" id="slide-flash">
        <%= flash[:notice] %>
        <span class="fa fa-1g fa-times flash-remove"></span>
      </div>
    <% end %>

    <div class="menu-list">
      <a class ="menu-title">➡ 閉じる</a>
      <% if @current_user %>
        <%= link_to("マイページ","/users/#{@current_user.id}") %>
        <%= link_to("投稿一覧","/posts/index") %>
        <%= link_to("投稿作成","/posts/new") %>
        <%= link_to("ユーザー一覧","/users/index") %>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>
      <% else %>
        <a class="header-new-btn">新規登録</a>
        <a class="header-login-btn">ログイン</a>
      <% end %>
    </div>
    
    <%= yield %>
    
    
  </body>
</html>
